

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header{
    background: #ebebeb;
    text-align: center;
    line-height: 90px;
    
   

}

nav {
   background: #ebebeb;
   text-align: center;
   line-height: 90px;

    
}

section{
    background: #ebebeb;
    width: 495px;
    height: 320px;
    text-align: center;
    position: relative
}

aside{
    background: #ebebeb;
    text-align: center;
    float: right;
    width:450px;
    height:320px;
}

footer{
    background: #ebebeb;
    text-align: center;
    line-height: 90px;
    
}

article{
    color: #ebebeb;
    background: #777;
    text-align: center;
    height: 220px;
    width: 400px;
    position: absolute;
    margin: 35px;
    padding: 5px;
    
    
}

h1{
    color: #777;
    background: #ebebeb;
}

p{
    color: #777;
    background: #ebebeb;
}

h2{
    background: #777;
}